OneFinder/obj/
OneFinder/bin/
OneFinder.AddIn/obj/
OneFinder.AddIn/bin/
installer/*.msi
installer/*.wixpdb
installer/*.wixobj
installer/Setup/bin/
installer/Setup/obj/
OneFinderSetup.exe
todo.md
.vs/
